<h1> MOOD DETECTED: </h1>
<pre>
<%= render :file => 'result.txt' %>
<%= render :file => 'word.txt' %>
</pre>

<%= link_to 'More Lyrics Detection',lyrics_path %> |

<%= link_to 'Home Page',listofsong_songs_path %>
