
<!DOCTYPE>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="mp/plugin/css/style.css">
    <link rel="stylesheet" type="text/css" href="mp/demo/css/demo.css">
    <script type="text/javascript" src="mp/demo/js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="mp/plugin/jquery-jplayer/jquery.jplayer.js"></script>
    <script type="text/javascript" src="mp/plugin/ttw-music-player-min.js"></script>
    <script type="text/javascript" src="mp/demo/js/myplaylist.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var description = ' The All Songs Playlist :D';

            $('body').ttwMusicPlayer(myPlaylist, {
                autoPlay:false, 
                description:description,
                jPlayer:{
                    swfPath:'/mp/plugin/jquery-jplayer' //You need to override the default swf path any time the directory structure changes
                }
            });
        });
    </script>
</head>
<body>
<div id="jpId"></div>
</body>
<br><br>

</html>

