<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<%= stylesheet_link_tag 'style.css','demo.css' %>
<%= javascript_include_tag 'applicationa', 'jquery-1.6.1.min.js','jquery.jplayer.js','ttw-music-player-min.js','myplaylist.js' %>
     <script type="text/javascript">
        $(document).ready(function(){
            var description = 'all songs playlist';

            $('body').ttwMusicPlayer(myPlaylist, {
                autoPlay:false, 
                description:description,
                jPlayer:{
                    swfPath:'jquery-jplayer' //You need to override the default swf path any time the directory structure changes
                }
            });
        });
    </script>
</head>
<body>
<div id="jpId"></div>
<div id="title"></div>
<a href="http://www.codebasehero.com/download?file=music-player" id="download">Download Here</a>
</body>



</html>

