<title></title>
    <script type="text/javascript" src="mp/demo/js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="mp/plugin/jquery-jplayer/jquery.jplayer.js"></script>
    <script type="text/javascript" src="mp/plugin/ttw-music-player-min.js"></script>
    <script type="text/javascript" src="mp/demo/js/myplaylist.js"></script>



<p id="notice"><%= notice %></p>

<h1>ALL SONGS!</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mood</th>
      <th>Artist</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
<% @songy=Song.order(name: :desc) %>
    <% @songy.each do |songy|%>
      <tr>
        <td><%= songy.name %></td>
        <td><%= songy.mood.moodname %></td>
        <td><%= songy.artist.artistname %></td>
	<td><audio controls="controls" id="player" src="<%=songy.audio.url%>" type="audio/mp3"></audio></td>
     </tr>
    <% end %>
  </tbody>
</table>

