
<%= javascript_include_tag "application" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<%= javascript_include_tag "application" %>
    <script type="text/javascript">
        $(document).ready(function(){
            var description = ' The All Songs Playlist :D';

            $('body').ttwMusicPlayer(myPlaylist, {
                autoPlay:false, 
                description:description,
                jPlayer:{
                    swfPath:'sWF' //You need to override the default swf path any time the directory structure changes
                }
            });
        });
    </script>
</head>
<body>

<div id="title"></div>
<a href="http://www.codebasehero.com/download?file=music-player" id="download">Download Here</a>
</body>
</html>
