<%= simple_form_for(@playlist) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    How do you feel today?
    <%= f.input :name %>
  
  	
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
